#注意启动时可能会报错找不到 nacos-logback.yml ，需要将这个配置赋值到conf路径下
version: '3'
services:
  nacos:
    image: nacos/nacos-server:latest
    restart: on-failure
    container_name: nacos
    ports:
      - "8848:8848"
    privileged: true
    environment:
      PREFER_HOST_MODE: hostname
      MODE: standalone
      JVM_XMS: 128m
      JVM_XMX: 128m
      JVM_MS: 64m
      JVM_MMS: 64m
    volumes:
      - "/usr/local/soft/nacos/conf:/home/nacos/conf"  #挂载配置路径
#      - "/usr/local/soft/nacos/data:/home/nacos/data"  #数据路径
      - "/usr/local/soft/nacos/logs:/home/nacos/logs"  #日志路径
#      - "/usr/local/soft/nacos/plugins:/home/nacos/plugins" #插件路径
    networks:
      - nginx_network

networks:
  nginx_network:
    external: true
